:root {
  --mainRed:#EF0D0D;
  --darkGrey: #606060;
  --lightGrey: #E0E0E0;
  --mainWhite: #f3f3f3f3;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--mainWhite) !important;
}

.card {
  border-color:transparent;
  transition: all 1s linear;
  
}
